[Unit]
Description=Monitoring Service
After=docker.service
Requires=docker.service
After=stackenginedata.service
Requires=stackenginedata.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull stackengine/controller-coreos 
ExecStart=/usr/bin/docker run \
    --privileged \
    -p 8000:8000 \
    -p 8001:8001 \
    -p 8002:8002 \
    --env COREOS_PUBLIC_IPV4=${COREOS_PUBLIC_IPV4} \
    --env DOCKER_HOSTNAME=%H \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --volumes-from stackenginedata \
    stackengine/controller-coreos 

[X-Fleet]
Global=true
